<!DOCTYPE html>
<html>

<head>
    <title>Orders</title>
    <link rel="stylesheet" href="../../css/admin.css">
</head>

<body onload="loadOrders()">

    <div class="nav">
        <a href="dashboard.html">Dashboard</a>
        <a href="orders.html">Orders</a>
        <a href="reports.html">Reports</a>
        <button onclick="logout()">Logout</button>
    </div>

    <div class="container">
        <h1>Live Orders Queue</h1>

        <div id="ordersList"></div>
    </div>

    <script src="../../js/admin.js"></script>
</body>

</html>