<!DOCTYPE html>
<html>

<head>

    <title>Order Type</title>

    <link rel="stylesheet" href="../css/kiosk.css">
    <meta charset="utf-8" />

</head>

<body>

    <div class="kiosk-container">

        <div class="success-box">

            <h1>Select Order Type</h1>

            <button class="big-button" onclick="selectOrderMode('Dine-in')">

                🍽 Dine In

            </button>

            <button class="big-button" onclick="selectOrderMode('Take-out')">

                🥡 Take Out

            </button>

        </div>

    </div>

    <script src="../js/kiosk.js"></script>

</body>

</html>